.main{
  height: 200px;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
  font-size: 2rem;
  margin-bottom: 0.8rem;
  text-decoration: underline blueviolet;
}
button{
  all:unset;
  background-color: blueviolet;
  color: white;
  margin: 0 0.7rem;
  padding:  3px 10px;
  font-weight: bold;
  border-radius: 10px;
}

.form{
  display: flex;
  justify-content: center;
}
.video{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}